.comtainer {
    display: grid;
    grid-template-columns: auto auto;
}

.left-content {
    text-align: center;
}

.right-content {
    text-align: left;
}

.image-profile {
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    width: 250px;
}
