.btn-theme {
    border-radius: 6px;
    border: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    transition: 0.3s;
    font-size: 12px;
    padding: 0.5rem;
}

.btn-theme:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: rgb(196, 203, 255);
}