.App {
  text-align: center;
}

.dark-mode{
  background-image: url(".././public/image/about-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
  color: aliceblue;
  transition: 0.3s ease;
}

.light-mode {
  background-image: url(".././public/image/about-light.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
  color: black;
  transition: 0.3s ease;
}
